html {
    overflow-y: scroll;
    height: 100%;
    font: 100%/1.5 sans-serif;
    word-wrap: break-word;
    margin: 0 auto;
    padding: 1.5em;
}

@media (min-width: 768px) {
    html {
        font-size: 125%;
        max-width: 42em;
    }
}

article {
    font-size: 16px;
    line-height: 1.5em;

    p {
        padding: 0 0 1em 0;
        text-align: justify;
        margin: 1em 0;

        code {
            background-color: #24292e;
            color: #e1e4e8;
            padding: 0.2em 0.3em;
            /* border: 1px solid #ccc; */
        }
    }

    h3, h4 {
        margin: 2.5rem 0 1.5rem 0;
        line-height: 1.25;
        color: #777;
    }

    img, svg {
        max-width: 100%;
        display: block;
        margin: 0em auto;
        padding: 0.5em;
    }

    pre.astro-code {
        border-radius: 5px;
        padding: 0.7em
    }

    blockquote {
        padding-left: 1em;
        font-style: italic;
        border-left: solid 1px #fa6432;
    }

    figure {
        margin: 1em 0;
    }

    figure figcaption {
        font-family: monospace, monospace;
        font-size: 0.75em;
        text-align: center;
        color: grey;
    }
}

.timeline {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    --glow-size: 40px;

    .timeline-entry {
        border: 1px solid #eee;
    }

    .timeline-text {
        /* make sure that the text is aligned with the entries */
        border: 1px solid transparent;
    }

    .timeline-color-green {
        --bg-color: #172b17;
        background-color: var(--bg-color);
        border-color: #2f572f;
    }
    .timeline-color-blue {
        background-color: #172a2b;
        border-color: #2f5757;
    }
    .timeline-color-red {
        --bg-color: #2b1717;
        background-color: var(--bg-color);
        border-color: #572f2f;
    }
    .timeline-color-orange {
        background-color: #2b2117;
        border-color: #57432f;
    }
    .timeline-color-yellow {
        background-color: #2b2a17;
        border-color: #574f2f;
    }
    .timeline-color-purple {
        background-color: #21172b;
        border-color: #432f57;
    }
    .timeline-color-pink {
        background-color: #2b1726;
        border-color: #572f4b;
    }
}

